.question {
    color: cornsilk;
    width: 80%;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

label {
    font-size: 4em;
}

#nameField {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}

#submitBtn {
    background-color: #020202;
    color: cornsilk;
    width: 150px;
    height: 30px;
    border: 1px solid cornsilk;
    border-radius: 25px;
    line-height: 15px;
    margin-top: 10px;
}

.greetingsYall {
    color: burlywood;
    font-size: 4em;
}

.greetingsYall a {
    font-size: .75em;
    color: cornsilk;
    text-decoration: none;
    border: 1px solid cornsilk;
    padding: 0 10px;
}